/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$header_height_pixels: 60;

.container * {
  margin: 0;
}

.container {
  padding: 0;
  margin: 0 auto;
  border: 0;
  min-width: 900px;
  max-width: 75%;
  overflow: hidden;
}

textarea {
  resize: none;
}

ul {
  list-style-type: none;
}

header h2 {
  margin: 0;
}

.credentials-form {
  height: 90%;
}

.credentials-form * {
  margin: 28px auto;
  text-align: center;
}

.credentials-form .my-input {
  width: 30%;
}

.credentials-form input {
  display: block;
}

.credentials-form .jumbotron {
  margin-top: 0;
}

.errors {
  color: red;
}

////////////////////////////////////////////////////////////////////////////////
.message-index {
  margin: auto;
  width: 80%;
  padding: 5% 5%;
  border: 0;
  height: 90vh;
  overflow-y: scroll;
}

.message-index ul {
  position: relative;
  margin:auto;
  width: 100%;
  padding: 0;
  top: 10px;
}

.message {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-: 10px;
}

.msg-sender {
  float:left;
}

.msg-created {
  float: right;
}

.msg-body {

}

.conversation ul {
  position: relative;
  margin:auto;
  width: 100%;
  padding: 0;
  top: 10px;
}

.message-form {
  position:relative;
  width: 55%;
  float: left;
  margin: auto;
  height: 80vh;
  top: 36px;
}

.conversation {
  position: relative;
  padding: 0;
  border: 2px solid black;
  height: 60vh;
  overflow-y: scroll;
  width: 90%;
  margin: 0 auto;

}

.message-form textarea {
  position: relative;
  padding: 0;
  top: 20px;
  width: 90%;
  height: 10%;
  margin: 0 auto;
  display: block;
}



.event-form input {
  position: relative;
  width: 90%;
  left: 5%;
}
.event-form button {
  position: relative;
  left: 5%;
}

.event-form h3 {
  position: relative;
  left: 5%;
}


.sendMessage {
  position:relative;
  left: 68%;

}
////////////////////////////////////////////////////////////////////////////////

.bar {
  width: 20%;
  height:92vh;
  background-color: #880000;
  overflow-y: scroll;
}

.left-bar {
  float: left;
  background-color: white;
}

.top-excess {
  width: 100%;
  height: $header_height_pixels + px;
  background:  #880000;//linear-gradient(to bottom right, #990000, #660000);
  opacity: 1;
}

.top-bar {
  min-width: 900px;
  max-width: 75%;
  width: 100%;
  height: $header_height_pixels + px;
  margin: auto;
  opacity: 1;
}

.top-bar * {
  display: inline-block;
  width: 20%;
  height: 100%;

  padding: 15px;
  color: white;
  text-align: center;
}

.top-bar a:hover {
  color: white;
  background: red;
}

.top-bar input {
  width: 20%;
  background: white;
  height: 36px;
  border-radius: 3px;
}

.top-bar input:hover {
  background: white;
  color: black;
}

.nav {
  // background-color: #A80000;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding: 7px;
  border-radius: 4px;
}

.left-bar .nav {
  margin-top: 20%;
  margin-bottom: 10%;

  width: 92%;
  background: white;
  border: solid 1px red;
}

.nav div {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.nav:hover {
  background: linear-gradient(to bottom right, #FF0000, #BB0000);
  color: white;
}

.nav.selected {
  background: linear-gradient(to bottom right, #FF0000, #BB0000);
  color: white;
}

.user-list {
  position: relative;
  border-radius: 4px;
  top: 36px;
  height: 500px;
  float:left;
  background-color: #BBBBBB;
  overflow-y: scroll;
}

.nav-friend {
  margin-bottom: 4px;
  border: 1px solid red;
}


.map {
  height: 200px;
  width: 200px;
}

.profile {
  position: relative;
  width: 80%;
  float: left;
  height: 700px;
}

.prof-pic {
  position:relative;
  top: 36px;
  left: 36px;
  height: 200px;
  width: 200px;
}

//////////////////////////////large comment box/////////////////////////////////

.status-form {
  position: relative;
  background: red;
  margin: auto;
  width: 100%;
  height: 175px;
  border: solid black 1px;
  border-radius: 10px;
}

textarea.status-text {
  margin: 25px 5%;
  width: 90%;
  height: 100px;
}

.status-button {
  position: relative;
  bottom: 40px;
  left: 83%;
}

////////////////////////////////////////////////////////////////////////////////


.nf-status-form .status-form {
  position: relative;
  top: 0px;
  margin-bottom: 30px;
}

.my-events {
  position: relative;
  top: 36px;
  float: right;
  width: 60%;
  border: solid black 1px;
}
////////////////////////////////////////////////////////////////////////////////

.pic-viewer{
  float: left;
  width: 80%;
  height: 85%;
  border: 1px solid black;
}

.pic-container {
  float: left;
  height: auto;
  width: 80%;
  background: black;
}

.picture {
  float: left;
  width: 400px;
  display: block;
}

.pic-comment{
  position: relative;
}

////////////////////////////////////////////////////////////////////////////////


.news-feed {
  height: (800 - $header_height_pixels) + px;
  float: left;
  width: 80%;
  background: black;
}

.news-feed .status-form {
  position: relative;
  top: 40px;
}

.friend-activity {
  overflow-y: scroll;
  position:relative;
  top: 10%;
  background: blue;
  width: 90%;
  height: 400px;
  margin:auto;
}

////////////////////////////////////////////////////////////////////////////////

.comment {
  background: white;
  margin-bottom: 10px;
  border: 1px solid green;
}

.heading:after {
  content: "";
  display:block;
  clear: both;
}

.heading * {
  display: inline-block;
}

.time {
  float: right;
}

.author {
  float: left;
}

.comment .prof-pic {
  position: relative;
  float:left;
  top: initial;
  left: initial;
}

////////////////////////////////////////////////////////////////////////////////
