<!DOCTYPE html>
<html>
<head>
  <title>Friendz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>

<body>

  <script>
    console.log($(window).height());   // returns height of browser viewport
    console.log($(document).height()); // returns height of HTML document
    console.log($(window).width());   // returns width of browser viewport
    console.log($(document).width());
    console.log(screen.height);
    console.log(screen.width);


  </script>

  <div class = "main-container">
    <%= yield %>
  </div>


</body>
</html>
